  * {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}
   
.flex-container {
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
       
    }

 .flex-item {
            width: 45%;
            height: 90%;
            margin: 5%;
        }

        
  .layer img{
            /* top: 129px;
            left: 1130px; */
            width: 436px;
            height: 600px;
            margin: 0;
            padding: 0;
           
        }

  .navbar a{
            font-size: 30px;
            color: black;
            float: right;
            margin-right: 90px;
        }
 .text{
            margin-top: 150px;
            margin-bottom: 250px;
            margin-left: 100px;
            text-align: left;
            font-size: 20px;
            font-family: sans-serif;
            color: #5e5b5b;
            opacity: 1;
         }
 .text h3{
        font-size: 35px;
        font-family: sans-serif;
    }
